<app-navbar></app-navbar>
<div class="container mt-5" *ngIf="!isProductLoading; else loading">
    <div class="row ,mx-2 my-2 mx-md-4 my-md-4">
      <div class="col-lg-6">
        <app-carousel-images [productID]="getProductID()"></app-carousel-images>
      </div>
      <div class="col-lg-6 mt-lg-5">
        <p class="mt-2 mx-2 category">{{ product.category | capitalizeFirst }}</p>
        <p class="text-secondary mt-4 mb-3 mx-md-2  border-bottom">Detalles del producto:</p>
        <div class="mx-md-4">
          <h2 class="fs-1 ">{{ product.name | titlecase}}</h2>
          <p class="fs-3 fw-bold price">{{ product.price | customCurrencyFormat }}</p>
          <p><span class="badge badge-cat fs-6">{{ product.status | capitalizeFirst }}</span></p>
          <p>{{ product.description }}</p>
        </div>
        <p class="text-secondary mt-4 mb-3 mx-md-2  border-bottom">Detalles del vendedor:</p>
        <div class="mx-md-4 my-4">
          <p>
            <i class="bi bi-person-fill darker-main-color"></i>
            &nbsp;{{product?.seller?.username | uppercase}} - 
            {{product?.seller?.name | uppercase}}
            {{product?.seller?.lastname | uppercase}}
          </p>
          <p>
            <i class="bi bi-envelope-at-fill darker-main-color"></i>
            <span>&nbsp;Contacta por email: </span><a class="text-reset" href="mailto:{{product?.seller?.email}}">{{product?.seller?.email}}</a>
          </p>
          <p>
            <i class="bi bi-phone darker-main-color"></i>
            <span>&nbsp;Contacta por teléfono: </span><a class="text-reset" href="tel:{{product?.seller?.email}}">{{product?.seller?.tel}}</a>
          </p>
        </div>
        <div class="d-flex justify-content-center gap-2">
          <button class="btn btn-custom mb-4">Comprar ahora</button>
          <button class="btn btn-outline-custom mb-4" [routerLink]="['/home']" [queryParams]="{ page: currentPage, category: currentCategory }">Volver</button>
        </div>
       
      </div>
    </div>
  </div>
  <ng-template #loading>
    <app-spinner-load-notblock></app-spinner-load-notblock>
  </ng-template>
  
  