.navbar-custom {
    background: var(--darker-main-color)
}

.logo-nav {
    max-width: 50px;
}

.nav-item {
    transition: transform 0.1s;
}

.nav-item:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.dropdown-item:hover {
    cursor: pointer;
}