<h1 class="text-center mt-5">Política de Cookies de Mercaline</h1>
<section class="container content cookie-policy rounded bg-white mt-2 mb-5 p-5">
    <a class="btn btn-outline-custom mb-3" [routerLink]="['/']">Volver</a>
    <p>En Mercaline.S.L, utilizamos cookies para mejorar la experiencia del usuario en nuestra plataforma. A
        continuación, explicamos qué son las cookies, cómo las utilizamos y las opciones que tienes para gestionarlas.
    </p>

    <h2 class="mt-4">¿Qué son las cookies?</h2>
    <p>Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo cuando visitas un sitio web. Estos
        archivos permiten que el sitio web reconozca tu dispositivo y recuerde cierta información sobre tus preferencias
        o acciones pasadas.</p>

    <h2 class="mt-4">Tipos de cookies que utilizamos</h2>
    <ul class="list-group">
        <li class="list-group-item"><strong>Cookies esenciales:</strong> Estas cookies son necesarias para que el sitio
            web funcione correctamente. Permiten funciones básicas como la navegación y el acceso a áreas seguras del
            sitio web.</li>
        <li class="list-group-item"><strong>Cookies de preferencias:</strong> Estas cookies permiten que el sitio web
            recuerde tus preferencias y configuraciones, como el idioma o la región en la que te encuentras.</li>
        <li class="list-group-item"><strong>Cookies de rendimiento:</strong> Utilizamos estas cookies para recopilar
            información sobre cómo los visitantes utilizan nuestro sitio web. Esta información nos ayuda a mejorar el
            rendimiento del sitio.</li>
        <li class="list-group-item"><strong>Cookies de funcionalidad:</strong> Estas cookies permiten ofrecer
            funcionalidades mejoradas y personalización en el sitio web. Pueden ser establecidas por nosotros o por
            proveedores externos cuyos servicios hemos añadido a nuestras páginas.</li>
    </ul>

    <h2 class="mt-4">¿Cómo gestionamos las cookies?</h2>
    <p>Al acceder a nuestro sitio web, se te presentará un banner informativo sobre el uso de cookies. Puedes aceptar
        todas las cookies, rechazar algunas o personalizar tus preferencias a través de las opciones del banner.</p>

    <h2 class="mt-4">¿Cómo puedes controlar las cookies?</h2>
    <p>Puedes gestionar las cookies desde la configuración de tu navegador. La mayoría de los navegadores permiten
        bloquear o eliminar cookies, pero ten en cuenta que esto puede afectar al funcionamiento de nuestro sitio web.
    </p>

    <h2 class="mt-4">Cambios en la política de cookies</h2>
    <p>Podemos actualizar esta política de cookies en cualquier momento. Te recomendamos revisar esta política
        periódicamente para estar informado sobre cómo utilizamos las cookies.</p>

    <h2 class="mt-4">Contacto</h2>
    <p>Si tienes alguna pregunta o inquietud sobre nuestra política de cookies, puedes contactarnos en [tu correo
        electrónico de contacto].</p>
    <a class="btn btn-outline-custom mt-3" [routerLink]="['/']">Volver</a>
</section>