.btn-next-prev {
    background-color: white;
    font-size: larger;
    font-weight: bold;
    border-radius: 50%; 
    padding: 10px 15px; 
    transition: box-shadow 0.3s; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s;
}

.btn-next-prev:hover {
    transform: scale(1.1);
}

.btn-categories {
    border-radius: 10px;
    transition: transform 0.1s;
}

.btn-categories:hover {
    background: var(--lighter-main-color);
    transform: scale(1.1);
}