<div  class="container">
    <h2 class="text-center">Iniciar Sesión</h2>
    <form (ngSubmit)="iniciarSesion()" #loginForm="ngForm">
        <div class="mb-3">
            <label for="username" class="form-label">Nombre de usuario</label>
            <input 
                type="text" 
                class="form-control" 
                id="username"
                name="username"
                [(ngModel)]="user.username" required>
        </div>
        <div class="mb-3">
            <label for="pass" class="form-label">Contraseña</label>
            <input 
                type="password" 
                class="form-control" 
                id="pass"
                name="pass"
                [(ngModel)]="user.password" required
                >
        </div>
        <button 
            type="submit"
            class="btn btn-primary"
            [disabled]="!loginForm.form.valid"
        >Iniciar Sesión</button>
    </form>
</div>
