<section class="container py-4 px-2" *ngIf="products.length > 0; else noProducts">
  <div *ngIf="selectedCategory">
      <h2 class="text-center py-3">{{ selectedCategory | capitalizeFirst}} 
        <span class="mx-4">
          <button type="button" class="btn btn-dark position-relative" data-bs-toggle="modal" data-bs-target="#filterModal">
            <i class="bi bi-funnel"></i> Filtros
            <span *ngIf="arefiltersApplied" class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
              <span class="visually-hidden">New alerts</span>
            </span>
          </button>
        </span>
      </h2>
      <!-- Lista de productos basados en la categoría seleccionada -->
      <app-filter (filtersApplied)="onFiltersApplied($event)" (filterStatusChanged)="onFilterChange($event)"></app-filter>
  </div>
  <div class="row gx-4 gx-lg-3 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    <div class="col mb-5" *ngFor="let product of products">
      <div class="card h-100">
        <!-- Product image-->
        <img class="card-img-top img-limited-height" [src]="product.imageUrl" alt="{{ product.name }}" *ngIf="product.imageUrl"/>
        <!-- Product details-->
        <div class="card-body p-2">
          <div class="text-center">
            <!-- Product name-->
            <h5 class="fw-bolder">{{ product.name | capitalizeFirst}}</h5>
            <!-- Product price-->
            <p>{{ product.price | customCurrencyFormat }}</p>
            <p class="d-flex flex-column justify-content-center align-items-center gap-2">
              <span class="badge badge-cat">{{product.category | capitalizeFirst}}</span>
              <span class="badge text-bg-light">{{product.status | capitalizeFirst}}</span>
            </p>
          </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver producto</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination d-flex justify-content-center align-items-center">
    <a class="btn custom-link" (click)="onPageChange(currentPage - 1)" *ngIf="currentPage !== 0">Anterior</a>
      <span class="mx-2 text-center align-middle">Página {{ currentPage + 1 }} de {{ totalPages }}</span>
      <a class="btn custom-link" (click)="onPageChange(currentPage + 1)" *ngIf="currentPage + 2 <= totalPages">Siguiente</a>
  </div>
</section>
<ng-template #noProducts>
  <div class="container d-flex flex-column justify-content-center align-items-center">
    <app-sgv-not-found></app-sgv-not-found>
    <h3 class="text-center my-3">
      Ups, parece que no hay productos en esta categoría... ¡pero podrías ser el primero en subir uno y marcar la diferencia!</h3>
  </div>
</ng-template>
  