@defer {
<ng-content *ngIf="!isLoading; else loading">
<section class="container py-2 px-2" *ngIf="products.length > 0; else noProducts">
  <!--Encabezado categoría, filtros, order -->
  <div *ngIf="selectedCategory" class="container">
    <div class="row align-items-center justify-content-center">
      <!-- Título con filtros -->
      <div class="col-12 col-md-6 text-center text-md-start py-3">
        <h2 class="d-inline">{{ selectedCategory | capitalizeFirst}}</h2>
      </div>
      <!-- Botón de Filtros -->
      <div class="col-12 col-md-6 col-md-3 text-center text-md-end d-flex flex-row justify-content-end mb-3 mb-md-0">
        <button class="btn btn-dark position-relative me-2" data-bs-toggle="modal" data-bs-target="#filterModal">
          <i class="bi bi-funnel"></i> Filtros
          <span *ngIf="arefiltersApplied"
            class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
            <span class="visually-hidden">New alerts</span>
          </span>
        </button>
        <!-- Ordenación -->
        <app-order-by-products (orderApplied)="onOrderApplied($event)"></app-order-by-products>
      </div>
      <!-- Modal para seleccionar filtrar los productos -->
      <app-filter (filterApplied)="onFiltersApplied($event)"
        (filterStatusChanged)="onFilterChange($event)"></app-filter>
    </div>
  </div>
      <div class="row gx-4 gx-lg-3 row-cols-1 row-cols-md-2 row-cols-xl-4 justify-content-center">
        <div class="col mb-5" *ngFor="let product of products">
          <div class="card h-100 shadow-drop-center" [ngClass]="{'sold': product.status === 'vendido'}">
            <!-- Product image-->
            <img class="card-img-top img-limited-height" [src]="product.imageUrl" alt="{{ product.name }}"
              *ngIf="product.imageUrl" />
            <!-- Product details-->
            <div class="card-body p-2 tracking-in-expand">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{ product.name | capitalizeFirst}}</h5>
                <!-- Product price-->
                <p>{{ product.price | customCurrencyFormat }}</p>
                <p class="d-flex flex-column justify-content-center align-items-center gap-2">
                  <span class="badge badge-cat">{{product.category | capitalizeFirst}}</span>
                  <span class="badge text-bg-light">{{product.status | capitalizeFirst}}</span>
                </p>
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <a class="btn btn-outline-dark mt-auto" (click)="onViewProduct(product.id)">Ver producto</a>
                <div>
                  <app-favourites-icon [productId]="product.id" data-bs-toggle="modal" data-bs-target="#favModal" (click)="onProductSelected(product.id)" [favChanged]="changedFav"></app-favourites-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination d-flex justify-content-center align-items-center">
        <a class="btn custom-link" (click)="onPageChange(currentPage - 1)" *ngIf="currentPage !== 0">Anterior</a>
        <span class="mx-2 text-center align-middle">Página {{ currentPage + 1 }} de {{ totalPages }}</span>
        <a class="btn custom-link" (click)="onPageChange(currentPage + 1)"
          *ngIf="currentPage + 2 <= totalPages">Siguiente</a>
      </div>
      <app-modal-fav [idProduct]="selectedProductId" (changed)="onChangedFav($event)"></app-modal-fav>
</section>
<ng-template #noProducts>
  <div class="container d-flex flex-column justify-content-center align-items-center">
    <app-sgv-not-found></app-sgv-not-found>
    <h3 class="text-center my-3" *ngIf="isError">
      {{errorMessage}}
    </h3>
    <h3 class="text-center my-3" *ngIf="!isError">
      Ups, parece que no hay productos en esta categoría... ¡pero podrías ser el primero en subir uno y marcar la
      diferencia!
    </h3>
  </div>
</ng-template>
<app-error-alert *ngIf="isErrorAlert" [message]="errorMessageAlert" [title]="errorTitleAlert"
  (confirmation)="onConfirmationError()"></app-error-alert>
</ng-content>
<ng-template #loading>
  <app-spinner-load-notblock></app-spinner-load-notblock>
</ng-template>
} @loading {
  <app-spinner-load-notblock></app-spinner-load-notblock>
} 