<div class="p-3">
    <form [formGroup]="passwordData">
        <div class="row mt-2">
            <div class="col-md-12">
                <label for="password" class="labels">Contraseña actual</label>
                <div class="input-group gap-2">
                    <input id="password" type="{{ showPassword ? 'text' : 'password' }}" class="form-control"
                        formControlName="password" name="password" placeholder="Introduce tu contraseña">
                    <div class="input-group-append">
                        <button id="v-pass" type="button" class="btn" (click)="togglePasswordVisibility($event)">
                            <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                        </button>
                    </div>
                </div>
                <app-error-messages [control]="passwordData.get('password')"></app-error-messages>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <label for="newPassword" class="labels">Contraseña nueva</label>
                <div class="input-group gap-2">
                    <input id="newPassword" type="{{ showNewPassword ? 'text' : 'password' }}" class="form-control"
                        formControlName="newPassword" name="newPassword" placeholder="Introduce la nueva contraseña">
                    <div class="input-group-append">
                        <button id="v-newPass" type="button" class="btn" (click)="togglePasswordVisibility($event)">
                            <i class="bi" [ngClass]="showNewPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                        </button>
                    </div>
                </div>
                <app-error-messages [control]="passwordData.get('newPassword')"></app-error-messages>
            </div>
            <div class="col-md-6">
                <label for="newPassword2" class="labels">Repetir nueva contraseña</label>
                <div class="input-group gap-2">
                    <input id="newPassword2" type="{{ showRepeatPassword ? 'text' : 'password' }}" class="form-control"
                        formControlName="newPassword2" name="newPassword2" placeholder="Repite la nueva contraseña">
                    <div class="input-group-append">
                        <button id="v-repPass" type="button" class="btn" (click)="togglePasswordVisibility($event)">
                            <i class="bi" [ngClass]="showRepeatPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                        </button>
                    </div>
                </div>
                <app-error-messages [control]="passwordData.get('newPassword2')"></app-error-messages>
                <div *ngIf="passwordData.get('newPassword2')?.hasError('passwordMismatch') && passwordData.get('newPassword2')?.touched" class="text-danger">
                    Las contraseñas no coinciden.
                </div>
            </div>
        </div>
        <div class="mt-4 text-center d-flex justify-content-center gap-2">
            <button class="btn btn-custom" type="button" (click)="changePassword()"
                [disabled]="passwordData.invalid">Guardar</button>
        </div>
    </form>
</div>
<app-success-alert *ngIf="isSuccess" [title]="successTitle"></app-success-alert>
<app-error-alert *ngIf="isError" [title]="titleError" [message]="errorMessage" (confirmation)="onConfirmation($event)"></app-error-alert>
