:root {
    --main-color: #4dce83;
    --darker-main-color: #48be79;
    --lighter-main-color: #48be7918;
    --darker-btn-main-color: #3fa469;
    --shadow-color: #808080;
    --title-nav-color: #344759;
}

.darker-main-color {
  color: var(--darker-main-color)
}

.custom-link {
    text-decoration: none;
    border-bottom: 2px solid var(--main-color); /* Color del subrayado */
    padding-bottom: 2px;
    transition: border-color 0.3s;
    font-weight: 500;
  }
  
.custom-link:hover {
  border-bottom-color: 2px solid var(--darker-main-color); /* Color del subrayado al pasar el ratón */
  font-weight: bold;
}

.text-justify {
  text-align: justify;
}

.btn-custom {
  background: var(--darker-main-color);
  border: 1px solid var(--darker-main-color);
  color: white;
  font-weight: 600;
  max-width: 150px;
}

.btn-custom:hover {
    cursor: pointer;
    color: var(--darker-main-color);
    border: 1px solid var(--main-color);
}

.btn-custom:disabled {
  background: var(--darker-main-color);
  border: 1px solid var(--darker-main-color);
  color: white;
  font-weight: 600;
  max-width: 150px;
}

.btn-outline-custom {
  background: white;
  border: 1px solid var(--darker-main-color);
  color: var(--darker-btn-main-color);
  font-weight: 600;
  max-width: 150px;
}


.btn-outline-custom:hover {
    cursor: pointer;
    background: var(--darker-main-color);
    color: white;
    border: 1px solid var(--main-color);
}

.btn-heart:hover {
  transform: scale(1.2)
}

.shadow-drop-center:hover{
  animation:shadow-drop-center 0.2s linear both
} 
  
@keyframes shadow-drop-center {
  0%{box-shadow:0 0 0 0 transparent}
  100% {
      box-shadow:0 0 15px 0 var(--shadow-color);
      scale: 1.02;
  }
}

.tracking-in-expand{
  animation:tracking-in-expand 0.3s linear both
} 

@keyframes tracking-in-expand{
  0%{letter-spacing:-.2em;opacity:0}
  40%{opacity:.6}100%{opacity:1}
}


