<app-navbar></app-navbar>
<!--Aqui va lo mio-->
<section class="container rounded bg-white mt-md-5 mb-5 p-3 p-md-5" *ngIf="favoriteLists.length > 0; else noFavoriteLists">
  <div class="row gx-4 gx-lg-3 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    <div class="col mb-5" *ngFor="let favoriteList of favoriteLists">
      <div class="card h-100">
        <!-- Product image-->
        <app-svg-favorite-lists></app-svg-favorite-lists>
        <!-- Product details-->
        <div class="card-body p-2">
          <div class="text-center">
            <!-- Product name-->
            <h5 class="fw-bolder">{{ favoriteList.nameList | capitalizeFirst}}</h5>
            <!-- Cantidad de productos dentro de cada lista-->
            <p>{{ favoriteList.productSize || 0 }} Productos</p>
          </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver lista</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination d-flex justify-content-center align-items-center">
    <a class="btn custom-link" (click)="onPageChange(currentPage - 1)" *ngIf="currentPage !== 0">Anterior</a>
    <span class="mx-2 text-center align-middle">Página {{ currentPage + 1 }} de {{ totalPages }}</span>
    <a class="btn custom-link" (click)="onPageChange(currentPage + 1)"
      *ngIf="currentPage + 2 <= totalPages">Siguiente</a>
  </div>
</section>
<ng-template #noFavoriteLists>
  <div class="container d-flex flex-column justify-content-center align-items-center">
    <app-sgv-not-found></app-sgv-not-found>
    <h3 class="text-center my-3" *ngIf="isError">
      {{errorMessage}}
    </h3>
    <h3 class="text-center my-3" *ngIf="!isError">
      Ups, parece que no tienes ningún producto añadido a tus favoritos...<br>¡Para guardar un producto, pulsa el icono de producto favorito (❤️)!
    </h3>
  </div>
</ng-template>
<app-error-alert *ngIf="isErrorAlert" [message]="errorMessageAlert" [title]="errorTitleAlert"
  (confirmation)="onConfirmationError()"></app-error-alert>